<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include("navbar") %>

        <div class="content-wrapper">
            <div class="messages-wrapper">
                <% messages.map((message) => { %>
                    <div class="message">
                        <div class="message-header">
                            <p class="message-user"><%= message.user %></p>
                            <p class="message-added"><%= message.added %></p>
                        </div>
                        <p class="message-text"><%= message.text %></p>
                    </div>
                    <% }) %>
            </div>
        </div>
    </body>
</html>
